{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "chrome": 61,
            "firefox": 60,
            "edge": 16,
            "safari": 11
          }
        }
      ],
      "@babel/preset-react"
    ]
  }