.content-wrapper {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../assets/spikes.png');
    background-repeat: repeat;
    text-align: center;
}

.content {
    display: inline-block;
    background-color: #FFFFFF;
    width: 1000px;
    height: 600px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

/*
 * 800 = 600 + 200
 */
@media screen and ( min-height: 800px ) {
    .content-wrapper {
        max-height: 100vh;
        padding-top: calc((100vh - 600px) / 2);
        padding-bottom: calc((100vh - 600px) / 2);
    }
}