.content-wrapper {
    width: 100vw;
    padding-top: $content-padding;
    padding-bottom: $content-padding;
    background-image: url('../assets/spikes.png');
    background-repeat: repeat;
    text-align: center;
}

.content {
    display: inline-block;
    background-color: #FFFFFF;
    width: $content-width;
    height: $content-height;
    box-shadow: $shadow-medium;
    border-radius: $content-radius;
    padding: $content-inset;

    .switch-wrapper, .switch-wrapper > div {
        width: 100%;
        height: 100%;
    }

    .switch-wrapper {
        position: relative;
    }
       
    .switch-wrapper > div {
    position: absolute;
  }
}

.content-buttons {
    margin-top: $content-inset;
    text-align: right;
}

/*
 * when screen is higher than content + padding
 */
@media screen and ( min-height: $content-total-height ) {
    .content-wrapper {
        max-height: 100vh;
        padding-top: calc((100vh - #{$content-height}) / 2);
        padding-bottom: calc((100vh - #{$content-height}) / 2);
    }
}