// -- Prelude --
@import './vars.scss';
// -- Styles --
@import './contentEditable.scss';
@import './dialog.scss';
@import './home.scss';
@import './pastebin.scss';
@import './buttons.scss';
@import './dropzone.scss';
@import './codeViewer.scss';

body, html {
    margin: 0px;
    padding: 0px;
}

a {
    color: #e91e63;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    color: #e91e63;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}